<!DOCTYPE html>
<html lang="en">

<head>
  <title>venkatesh bellale</title>
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <meta name="theme-color" content="aqua">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content=" A personal github site for sharing what I built.">
  <meta property=og:title content="IT'S ME { venkatesh bellale}">
  <meta property=og:url content="https://venakteshbellale.github.io">
  <meta property=og:type content="website">
  <meta property=og:description content="a personal github site for sharing what ,I built.">
  <meta name="twitter:card" content=summary>
  <meta name=twitter:url content=https://venkateshbellale.github.io>
  <meta name=twitter:creator content=@venkateshbella7>
  <link rel="stylesheet" href="static/css/about.css">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet">
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8841682805366741",
    enable_page_level_ads: true
  });
</script>-->
</head>

<body>

  <div id="title">
    <a href="/">
      <h1 class="main_heading">Venkatesh bellale</h1>
      <h2 class="sub_heading">Growing Developer</h2>
    </a>
  </div>
  <div id="content">
    <h3 class="about">
      <u>About</u>
    </h3>
    <p>Hi! I'M a 17 y/o student, Facinated by computers when I was in 6
      <sup>th</sup> grade. when I learned about web development basically html , but when I got to knew about css and what we
      can do with that, the colorful stuff,animations,looks . I really got amazed with that and gone through various tutorials
      to learn the basics of web devlopment , besides that I have knowledge of Python,Git,Cmd and learning about algorithms
      . I also have participated in various competition like NSO,ISO,
      <a href="http://g.co/codein" target="_blank">Google code-in</a>.




      <h3 class="project">
        <u>Projects</u>
      </h3>
      <p class="para">Here are some crazy litte stuff. </p>
      <ul>
        <li>
          <a href="http://github.com/venkateshbellale/python_the_hard_way">python the hard way</a>
        </li>
        <li> more to be added</li>
        <li></li>
      </ul>

      <h3 class="contact">
        <u>Contact</u>
      </h3>
      <p class="para">You can find me on.</p>
      <ul>
        <li>
          <a href="http://twitter.com/venkateshbella7">Twitter</a>
        </li>
        <li>
          <a href="http://github.com/venkateshbellale">Github</a>
        </li>
      </ul>
      <p>Or , still need me just drop me a mail:
        <a href="mailto:bellale15dm@gmail.com">@here</a>
      </p>

      <footer class="foot">
        <p>MADE with
          <span class="love">
            <img src="static/images/heart.png" width="17px">
          </span> by venkatesh. </p>
      </footer>
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88167404-2', 'auto');
        ga('send', 'pageview');
      </script>

</body>

</html>