<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <meta name="theme-color" content="aqua">
    <meta http-equiv="X-UA-Compatiable" content="ie-edge">
    <title>MyBlog</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href=" {{url_for('static', filename='css/testmain.css')}}">
    <link rel="icon" href="static/images/logo.png">
    <link rel="manifest" href="static/manifest.json">
</head>

<body>

    <!--navigation-->
    <nav>
        <div class="header">
            <a href="/">
                <div class="header-title">My Blog</div>
            </a>
            <ul>
                {% if not session.logged_in %}
                <li class="right">
                    <a href="/about">About</a>
                </li>
                <li class="left">
                    <a href="{{ url_for('login') }}">login</a>
                </li>
                {% else %}
                <li class="logout left">
                    <a href="{{ url_for('logout') }}">logout </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--post-->
    <form action="{{ url_for('post') }}" enctype="multipart/form-data" method="post">
        <dl>
            <dt>Title:</dt>
            <dd>
                <input type="text" size="30" name="title" class="form-control_1">
            </dd>

            <dt>sub:</dt>
            <dd>
                <input type="text" size="25" name="sub_title" class="form-control_1">
            </dd>

            <dt>date:</dt>
            <dd>
                <input type="date" name="date" value={timestamp} disabled>
            </dd>


            <dt>content:</dt>
            <dd>
                <textarea name="content" class="text_control"></textarea>
            </dd>


            <br>
            <br>
            <input type="submit" value="Share" class="button">

        </dl>

    </form>

</body>

</html>